* {
    /*outline: 1px solid grey;*/
}
body {
    background-color: #000;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    }

.custom-page {
    margin-top: 15px !important;
    margin-bottom: 15px;
}
.header-change {
    margin-bottom: 20px;
}
.text-muted {
    color: #333;
}
.text-thin {
    font-weight: 100;
}
.title-super {
    font-size: 4.5em;
}
.title-logo {
    border: 1px solid #333;
    border-radius: 100%;
    padding: 10px;
}
.modal-content {
    background-color: #4d4d4d;
    color: #fff;
}
.link-large {
    font-size: small;
    display: inline-block;
    margin-bottom: 30px;
}
a.link-large:link {
    color: #ccc;
    text-decoration: none;
}
a.link-large:visited {
    color: #999;
}
a.link-large:hover {
    font-size: 175%;
}
.target-rollover:hover {
    cursor: pointer;
    opacity: 0.50;
}
